<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Richard Diamond">

    <title>Hello World!</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="header">
      <div id="shell">
        <h2 class="header-content">Hello, world!</h2>
        <h3 class="header-content">I'm Richard Diamond.</h3>
        <div id="menu" class="header-content">
          <div id="inner-menu">
            <a href="<%= page_path(@conn, :index) %>">Portfolio/Index</a>
            <a href="<%= page_path(@conn, :about) %>">About</a>
            <a href="<%= page_path(@conn, :contact) %>">Contact</a>
          </div>
        </div>
        <video id="blurred" autoplay loop muted="true">
          <source src="/bg.webm" type="video/webm" />
        </video>
        <video id="bg" autoplay loop muted="true">
          <source src="/bg.webm" type="video/webm" />
        </video>
      </div>
    </div>

    <div id="outer-container">

      <div id="container">
        <%= render(@view_module, @view_template, assigns) %>
      </div>

      <div id="footer">
        <div id="inner">
          <h4>Links</h4>
          <p><a href="https://www.github.com/DiamondLovesYou">GitHub</a> - <a href="https://www.bitbucket.org/DiamondLovesYou">Bitbucket</a> - <a href="https://www.linkedin.com/in/richard-diamond-97724054">Linkedin</a></p>
        </div>
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
