/*!
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
  margin: 0;
}

/* Space out content a bit */
#outer-container body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
}
#outer-container {
  width: 100%;
  height: 100%;
  z-index: 2;
}
#header {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-bottom: 5px solid #F07D00;
}
#header #shell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}
.header-content {
  z-index: 2;
  color: white;
  position: relative;
}
#header h2, #header h3 {
  position: relative;
  margin-bottom: 0;
}
#header h2 {
  font-size: 40px;
  margin-top: 20px;
}
#header h3 {
  margin-top: 330px;
  margin-bottom: 10px;
}
#header #shell #bg {
  bottom: 0px;
  left: calc(50% - 1920px/2);
  position: absolute;
  height: 1080px;
  width: 1920px;
}
#header #shell #blurred {
  bottom: 0px;
  width: 100%;
  position: absolute;
  filter: blur(15px);
}
#menu #inner-menu {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 500px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#menu #inner-menu a {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-align: center;
  text-shadow: none;
  margin: 0;
  display: table-cell;
  width: 166.6666666666px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
#menu #inner-menu a:last-child {
  border-right: none;
}
#menu #inner-menu a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#container {
  color: white;
  width: 100%;
  display: inline-block;
  background-color: black;
}
a:link, a:visited {
  color: rgb(20,175,238);
  font-weight: bold;
}
#container h3, #container h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#container h3 {
  font-size: 30px;
}
#container h4 {
  font-size: 20px;
}
#container h5 {
  font-size: 17px;
}
#footer {
  border-top: 5px solid #F07D00;
}
#footer #inner {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#footer #inner ul {
  margin: auto;
}
#footer #inner p {
  text-align: center;
}
#footer #inner h4 {
  font-size: 25px;
  margin-bottom: 0px;
}

.page-content {
  background-color: #333;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#index p, #about p, #contact p {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.heart {
  font-weight: bold;
}
.heart:after {
  /* Note: there is an invisible sparkling heart emoji in that quote */
  content: " 💖"
}
