<div id="about" class="page-content">
  <h3>About me</h3>
  <p>My name is Richard Diamond. I'm currently pursuing full time consulting. I went to the University of Kansas, majoring
     in applied mathematics, specifically numerical.
     Outside of school, I enjoy playing the trombone, learning about neurology, chemistry, playing video games (as well
     as developing them), and reading hard science fiction books.</p>
  <p>In my free time, I work on Legionella; currently I am taking the Rust AV1 encode/decoder, rav1e, and attempting to
   run the core frame analysis on GPUs. My hope is to enable real-time AV1 encodes!</p>
  <p>I provide consulting services for your projects! <a href="<%= page_path(@conn, :contact) %>">Contact</a>
     me if you'd like to discuss.</p>
</div>
