<div id="index" class="page-content">
  <h3>Portfolio</h3>
  <h4>Owner of Vitality Studios, LLC</h4>
  <h4>I have contributed to many projects, including:</h4>
  <ul>
    <li>Creator of <a href="#legionella">Legionella</a></li>
    <li><a href="#rust">Rust</a></li>
    <li>LLVM</li>
    <li><a href="#rust">PNaCl/Native Client</a></li>
    <li><a href="#vlc">VLC</a></li>
    <li>AMD's HSA runtime</li>
  </ul>
  <h4>Past and current projects include:</h4>
  <ul>
    <li><a href="#legionella">Legionella</a> - A specialized Rust compiler enabling single source programming for distributed workloads</li>
    <li><a href="#modkit">Modkit</a> - Wrote a dynamic linker/syscall interface for Unix WebAssembly modules. Also did some embedded work </li>
    <li><a href="#hahbee">Hahbee</a> - A social network targeting social events</li>
    <li><a href="#laborsheetdb">LaborSheetDb</a> - A contractor job site reporting tool</li>
  </ul>
  <h4>Interesting things to me, in no particular order:</h4>
  <ul>
    <li>Mathematical interests:
        <ul>
          <li>Data Assimilation (basically, mathematically rigorous unsupervised learning)</li>
          <li>Stocastic differential equations</li>
          <li>Dynamic systems, numerical PDEs, nonlinear problems</li>
        </ul>
    </li>
    <li>Weather forcasting, specifically shallow water models</li>
    <li><span class="heart">Rust</span></li>
    <li><span class="heart">Erlang/Elixir</span></li>
    <li>C++/C</li>
    <li>Typescript</li>
    <li>Angular2/HTML/CSS</li>
    <li>PostgreSQL/PostGIS</li>
    <li>Phoenix Framework/Elixir/Erlang</li>
    <li>Linux</li>
    <li>Embedded development, including ARM and AVR</li>
    <li>General video game development</li>
    <li>Vulkan</li>
  </ul>

  <h4>Education</h4>
  <p>Attended the University of Kansas from 2013-2018. Majored in Mathematics, with a Minor in Chemistry.
   Left after completing all of the Math BS requirements.</p>
  <p>I have a strong background in mathematics; specifically: non-linear dynamic systems, PDEs, probability, numerical methods, and Data Assimilation.</p>
  <p>I have implemented Kalman and particle filters and a few other state estimation methods.</p>

  <h4>Project Descriptions</h4>

  <h5 id="legionella"><a href="https://github.com/legionella-rs/about">Legionella</a></h5>
  <p>A single source distributed programming framework for Rust. Currently focused on AMDGPU, it, among other things, helps you efficiently
    manage resource lifetimes, prevent concurrent read/write hazards, and offers work kernel and memory distribution for your clusters.</p>
  <p>My company, Vitality Studios, offers consulting services for Legionella; if there's a feature you'd like to see, reach out to me to discuss!</p>

  <h5 id="modkit">Modkit</h5>
  <p>Contracted to, originally, port the LLVM/Clang/LLD compiler suit to NaCl, for use in Modkit's robotic visual programming environment,
  which would run completely client-side.
  Later, I ported LLVM/Clang to WebAssembly. This later work involved creation of a wasm dynamic linker and unix-y syscall implementation.
  This wasm loader and runner enables multiple wasm binaries (as in, exes) to share their shared objects in a single set of wasm instances.
  So, for instance, LLD and Clang would share a single libLLVMARMCodeGen.so instance, yielding significant memory savings.
  Additionally, created a Rust implementation of the Emscripten IDBFS schema for use in the aforementioned loader/runner.
  The syscall implementation includes page table support so memory mapping works roughly as expected.</p>
  <p>Wrote a cross sysroot builder for many ARM and AVR embedded platforms.</p>
  <p>Fixed many, many issues in the LLVM AVR backend, and a few in the LLVM PBQP registry allocator.</p>

  <h5 id="rust">Rust</h5>
  <p>Added support for the complex address space configuration required by the AMDGPU LLVM target, and many other small patches.</p>

  <h5 id="vlc">VLC</h5>
  <p>Ported VLC to PNaCl for a client, allowing VLC to play video/audio in any webpage (ie not limited to use as a
     Chrome Store app). Created modules to fetch and cache remote media resources (ie resource retreived over HTTP(S)),
     play audio, and provide a rich, versioned API to JS. Modified VLC's core to allow it to correctly run without
     pthread_kill/signals. Required dealing with PPAPI audio sync issues.</p>

  <h5 id="hahbee">Hahbee</h5>
  <p>A social network, which targets the way we organise our lives around groups of friends and our interests.
     Hahbee is being built for all of the mobile platforms, with the intention to leverage location data to provide the
     ablity to automatically associate content with events, and to provide the user with similar suggestions w.r.t. an
     event.</p>
  <p>Uses Elixir/Postgres on the backend, and Angular2 on the frontend.</p>
  <p>I'm not currently actively working on this, but I may resume the work as I strongly believe the idea is novel and worthwhile.</p>

  <h5 id="laborsheetdb">LaborSheetDb</h5>
  <p>Automated the previously manual job of creating Excel job reports, including pretty charts for each job or in
     aggregate. <a href="https://bitbucket.org/DiamondLovesYou/laborsheetdb">Source</a></p>
</div>
